.container {
    max-width: 990px;
}

#order__checkout__billing__data .billing__content {
    max-width: 550px;
//        width: auto !important;
    margin: 0 auto;
}

table.form-table-userinfo  {
    .text {
        width: 100%;
    }

    .select-box {
        width: 100% !important;
    }

    #cbExpMounth-select-box {
        width: 145px !important;
    }
    #cbExpYear-select-box {
        width: 83px !important;
    }
}

table.form-table-userinfo td.order__checkout__form__label,
table.form-table-userinfo td.order__checkout__form__label__error:not(.order__checkout__form__input):not(.order__checkout__form__input__error) {
    width: @form-label-width;
}

#order__finalTotalPrice {
    clear: both;
}

.payment__content {
    .clearfix();
    width: 100%;
}

.payment__methods-wrapper {
    width: 100%;
    display: none;
}

.payment-options-select-selected-option {
    width: 225px;
}

.payment-options-wrapper-express .payment-options-select-selected-option {
    width: 100%;
}

.payment-options-select-list {
    width: 100%;
}

//    // MEDIA QUERIES
//    @media screen and (max-width: 767px) {
//        .payment__methods-wrapper {
//            display: table;
//        }
//        
//        #order__checkout__form__billing__currency {
//            display: table-row !important;
//        }
//        
//    }

@media screen and (min-width: 992px) {
    table.order__checkout__payment__content td.order__checkout__form__label {
        width: 150px;
//        padding-bottom: 0;
    }
    
    #order__checkout__billing__payoptions__table.col-md-6 {
        margin-right: 8.33%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    // Display form on small screens
    .order__checkout__form__label,
    .order__checkout__form__input {
        display: block;
    }

    .order__checkout__form__label {
        padding-bottom: 0 !important;
    }

    .order__checkout__form__input {
        .clearfix();
    }
}

@media screen and (max-width: 767px) {
    #payment__methods {
        display: table-row !important;
        .order__checkout__form__input {
            display: table-cell !important;
        }
    }

    .payment-options-combo.layout-5 {
        display: none;
    }

    .payment-options-wrapper-express .payment-options-combo.layout-5 {
        display: block;
    }

    .order__checkout__billing {
        width: 100%;
    }
}

@media screen and (max-width: 675px) {
    // Display form on small screens
    .order__checkout__form__label,
    .order__checkout__form__input {
        display: block;
    }

    #payment__methods {
        display: block !important;
        .order__checkout__form__input {
            display: block !important;
        }
    }

    .order__checkout__form__label {
        padding-bottom: 0 !important;
    }

    .order__checkout__addfields__content td {
        padding-bottom: @table-cell-padding !important;
    }
}

@media screen and (max-width: 550px) {
    table.order__checkout__addfields__content {
        .text {
            width: 100%;
        }

        .select-box {
            width: 100% !important;
        }
    }

    .order__checkout__billing__content {
        max-width: none;
    }
}