/* ==========================================================================
   COMPONENTS
   ========================================================================== */
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).
@spacing-base-vertical: 6px;
@spacing-base-horizontal: 12px;
@spacing-large-vertical: 10px;
@spacing-large-horizontal: 20px;
@spacing-small-vertical: 5px;
@spacing-small-horizontal: 10px;
@spacing-xs-vertical: 1px;
@spacing-xs-horizontal: 5px;

@block-spacing: 25px;

@line-height-large: 1.3333333; // extra decimals for Win 8.1 Chrome
@line-height-small: 1.5;

@border-radius-large: 6px;
@border-radius-base: 4px;
@border-radius-small: 3px;

/* ==========================================================================
   HEADER
   ========================================================================== */
@header-bg: #fff;
@header-color: @text-color;
@header-padding: 0;
@header-margin: 0 auto @block-spacing auto;
@header-width: 100%;
@header-border: 1px solid @main-border-color;
@header-border-width: 0 0 1px 0;

/* ==========================================================================
   MAIN MENU
   ========================================================================== */
@main-menu-bg: @brand-secondary;
@main-menu-link-font-size: 12px;
@main-menu-link-line-height: 20px;
@main-menu-link-padding: 15px 20px;
@main-menu-link-color: #c1c4c9;
@main-menu-link-bg: transparent;
@main-menu-link-color-hover: #FFF;
@main-menu-link-bg-hover: transparent;
@main-menu-link-color-active: #FFF;
@main-menu-link-bg-active: @brand-primary;
@main-menu-link-color-selected: #FFF;
@main-menu-link-bg-selected: @brand-primary;

/* ==========================================================================
   PAGE HEADER
   ========================================================================== */
@page-header-bg: @brand-primary;
@page-header-color: #FFF;
@page-header-font-size: 25px;//200%;
@page-header-padding: 14px @spacing-large-horizontal;
@page-header-margin: 0;

/* ==========================================================================
   MAIN
   ========================================================================== */
@main-bg: #FFF;
@main-color: @text-color;
@main-padding: @spacing-large-vertical @spacing-large-horizontal;
@main-margin: 0 auto;
@main-width: 100%;
@main-border-color: #DADADA;
@main-border: 1px solid @main-border-color;
@main-border-radius: 0;