{# WIA TEXT #}
<div id="wia-text" class="who-is-avangate-text {{ settings.widgetClass }}">
    {{ settings.orderProcessedBy.TITLE }} <a href="#" class="link">{{ settings.orderProcessedBy.WHO_IS_AVANGATE }}</a>
</div>

{# WIA POPUP #}
<div id="wia-popup" class="who-is-avangate-popup">
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
      <tr>
          <td class="avangate-logo-wrapper"><img src="{{ settings.avangateLogoSrc }}" border="0" class="logo-avangate"></td>
            <td class="vendor-logo-wrapper"><img src="{{ settings.vendorLogoSrc }}" border="0" class="logo-vendor"></td>
        </tr>
    </table>

    <h3 class="title">{{ settings.orderProcessedBy.WHO_IS_AVANGATE }}</h3>
    <div class="description"><p>{{ settings.orderProcessedBy.DESCRIPTION }}</p></div>

    <table class="icons" border="0" cellspacing="0" cellpadding="0" align="center" width="100%">  
        <tr>
            <td style="text-align:left;"><img src="https://edge.avangate.net/images/merchant/6531b32f8d02fece98ff36a64a7c8260/bbb-logo-h43.gif?20100312154318" alt="" /></td>
            <td style="text-align:center;"><img src="https://edge.avangate.net/images/merchant/6531b32f8d02fece98ff36a64a7c8260/verisign-logo-h43.gif?20130705112453" alt="" /></td>
            <td style="text-align:center;"><img src="https://edge.avangate.net/images/merchant/6531b32f8d02fece98ff36a64a7c8260/pci-dss-logo-h43.gif?20100312154318" alt="" /></td>
        </tr>
    </table>
</div>