#dont-leave-popup {
    display: none;
    
    .img-popup-discount {
        width: @dont-leave-image-width;
        height: @dont-leave-image-height;
        transform:translateZ(0);
        position: relative;
    }
    
    #dont-leave-popup-close-button {
        width: @dont-leave-close-btn-width;
        height: @dont-leave-close-btn-height;
        position: absolute;
        top: 0;
        right: 0;
        cursor:pointer;
    }
    
    #dont-leave-popup-discount-link {
        width:100%;
        height:100%;
        display: block;
    }
}

.dont-leave-popup.ui-widget.ui-dialog {
    background-color: transparent;
    border: medium none;
    // height: 222px !important;
    padding: 0;
    width: @dont-leave-image-width !important;
    background: transparent !important;
    
    .ui-dialog-content {
        overflow: visible;
    }
    
    .img-popup-discount {
        background-position: center top;
        background-repeat: no-repeat;
    }
}
#dont-leave-popup {
    padding: 0;
}
.dont-leave-popup .ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
    display: none;
}

@media screen and (max-width: 959px) {
    .dont-leave-popup.ui-widget.ui-dialog {
        height: 100% !important;
        width: 100% !important;
        
        .ui-dialog-content {
            height: 100% !important;
            width: 100% !important;
            padding-top: 0px;
            position: relative;
            top: 0px;
            padding-bottom: 0px;
            margin-bottom: 0px;
            
            .description,
            .img-popup-discount {
                width: 100% !important;
                background-size: contain;
            }
        }
    }
}