.heading-border {
    clear: both;
    display: block;
    width: @heading-border-width;
    border-bottom: @heading-border-height @heading-border-style @heading-border-color;
    margin: @heading-border-margin;
}