.pricing-options-popup-dialog {
    box-shadow: @popup-box-shadow;
    .ui-dialog-title {
        padding-top: 7px;
        color: @product-name-color;
    }
}

.table.pricing-options-popup-content {
    border: solid @table-border-color;
    border-width: 0 1px 1px;
}
.pricing-options-group {
    vertical-align: top;
    .pricing-option {
        select,
        input[type="text"],
        input[type="number"] {
            width: 100%;
            display: block;
        }
    }
    label {
        margin-left: 5px;
        white-space: normal;
    }
}

.pricing-options-popup-modal {
    tr > td.pricing-options-group:not(:last-child) {
        border-right: 1px solid @table-border-color;
    }
}
@media screen and (max-width: 959px) {
  .pricing-options-popup-modal {
        tr > td.pricing-options-group {
            border-right: 0 !important;
        }
    }  
}

.pricing-options-group-description,
.pricing-options-group,
.pricing-options-group-title {
    margin-bottom: 5px;
}
.pricing-options-group-title {
    color:  @text-color;
}
.pricing-options-group {
    font-size: @font-size-base;
}
.pricing-options-popup-footer {
    background: @gray-lighter;
    text-align: left;
    .pricing-options-popup-cta {
        float: right;
    }
    .pricing-options-popup-price {
        float: left;
        font-weight: bold;
        vertical-align: middle;
        font-size: @font-size-large;
        margin-top: 5px;
    }
}

@media screen and (max-width: 959px) {
    .pricing-options-popup-content tr {
        display: block;
        > td {
            display: block;
        }
    }
    .pricing-options-popup-price-cta {
        .clearfix();
    }
}