.container {
    max-width: 990px;
}

// CART STEPS
#steps-wrap.preset-4 #steps .step-nr-wrapper {
    background: @subheader-bg;
}

#steps-wrap.preset-4 #steps .step-nr {
    background: @subheader-bg;
    border: 1px solid darken(@cart-steps-inactive-color, 10%);
    padding: 2px;
    .step-nr-text {
        font-weight: bold;
    }
}

#steps-wrap.preset-4 #steps .step.checked .step-nr,
#steps-wrap.preset-4 #steps .step.current .step-nr {
    background: @brand-primary;
    border: 1px solid transparent;
}

// MAIN
#order__header {
    display: none;
}

// FORM
.form-table-billing .order__checkout__form__label {
    width: 145px !important;
}

.order__checkout__form__input {
    .clearfix();
    width: 315px;
}

// PRODUCTS IN SHOPPING CART
tr.order__listing__header td {
    font-size: @font-size-base;
}

td.order__listing__item__unit__price, td.order__listing__item__total__price {
    font-weight: bold;
}

.order__listing__item__unit__price .order__billing__price,
.order__listing__item__total__price .order__billing__price {
    font-weight: normal;
}

// CROSS SELLING
//    #x-sell.display-horizontal .x-sell-prod-add {
//        text-align: right;
//    }

// BILLING & PAYMENT
.order__checkout__billing__and__payoptions__header {
    width: 100%;
//    margin-bottom: -10px;
    position: relative;
    display: block;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.payment-options-select-selected-option {
    width: 175px;
}

.payment-options-label {
    .order__box .order__box__title .order__box__aux2;
    position: absolute;
    bottom: 0;
    
    .icon {
        position: relative;
        bottom: -2px;
    }
}

.order__checkout__billing__and__payoptions__content {
    width: 100%;
    background: @box-content-bg;
    border: @box-border;
    border-radius: @box-border-radius;
    background-clip: padding-box;
    margin-bottom: @box-margin-bottom;
    .order__box .order__box__content {
        border-radius: @box-border-radius;
    }
}

#order__checkout__billing__data {
    padding-left: 0;
}

#order__checkout__payoptions__data {
    padding-right: 0;
}

#order__checkout__billing__data,
#order__checkout__payoptions__data {
    .order__box__title {
        background: transparent;
        border-bottom: 0px solid transparent;
    }
    .order__box {
        margin-bottom: 0;
        border: 0px solid transparent;
    }
}

.icon-refresh, .icon-refresh:hover, .icon-refresh:focus, .icon-refresh:active {
    background: transparent;
    box-shadow: 0 0 0 transparent;
}

.icon-refresh:before, .icon-refresh .ie-before {
    color: @brand-primary;
}

.order__checkout__billing__and__payoptions__header .payment-options-wrapper {
    text-align: right;
    float: right;
//    margin-right: 5px;
    padding-left: 0;
}

&.rtl .payment-options-wrapper {
    text-align: left;
    float: left;
//    margin-left: 5px;
}

.payment-options-combo.layout-4 {
    background: transparent;
    border-bottom: 0px solid transparent;
//    .payment-option label {
//        padding-left: @padding-small-horizontal;
//        padding-right: @padding-small-horizontal;
//    }
}

.payment-option,
.payment-options-select {
    text-align: left;
}

&.rtl .payment-option,
&.rtl .payment-options-select {
    text-align: right;
}

.payment-options-combo.layout-4 > .payment-option label {
    padding-top: 25px;
}

.payment-options-combo.layout-4 .select-box-arrow-wrapper {
    border-left: 0px solid transparent;
}

// FORM
table.form-table-userinfo  {
    .text {
        width: 100%;
    }

    .select-box {
        width: 100% !important;
    }

    #cbExpMounth-select-box {
        width: 145px !important;
    }
    #cbExpYear-select-box {
        width: 83px !important;
    }

    #tiCVV {
        width: 100px;
    }

//        .order__checkout__form__label,
    .payment-options-label {
        width: 200px;
    }
}

.products-header-currency {
    margin-top: -4px;
    margin-bottom: -4px;
    @media screen and (max-width: 767px) {
        margin-top: @padding-small-vertical;
    }

    .currency__label {
        margin-right: 20px;
    }
}

.order__listing__item__name {
    color: @brand-primary;
    font-weight: bold;
    .order__product__options {
        color: @text-color;
        font-weight: normal;
    }
}

.payment-options-combo {
    margin-bottom: 0;
}

.payment-options-card-icons > img {
    margin-top: 4px;
}

.jp-card-container {
    margin: 0 !important;
}

.order__finish__terms__and__conds__agreement {
    text-align: right;
}

.order__checkout__button__container {
    .clearfix();
}

#order__autorenewal__container,
#place_order_terms_and_conditions,
#order__finalTotalPrice {
    text-align: right;
}

#order__finalTotalPrice {
    background-color: transparent;
    padding: 0;
    margin-bottom: 0;
    
    p {
        padding: 0;
        margin-bottom: 0;
    }
}

.btn-submit {
    float: right;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;

    .btn-submit-icon {
        width: 22px;
        height: 22px;
        display: inline-block;
        background: url('https://secure.avangate.com/images/merchant/67caec8041b2d689a5035d3bf441c34c/call-to-action-icon.png') no-repeat center center transparent;
        margin-bottom: -5px;
    }
}

#Finish--btn,
#Delivery--btn {
    float: none;
}

.order__finish__terms__and__conds__agreement {
    margin-bottom: @box-margin-bottom;
    br {
        display: none;
    }
}

.secure-checkout-seals {
    margin-bottom: 0;
}

// FOOTER
#footer .order-privacy-link {
    margin-right: @padding-small-horizontal;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.order-privacy-link-separator {
    display: none;
}

#order__privacy {
    padding-top: @padding-large-vertical;
}

body.checkout.page-with-review #order__checkout__billing__payoptions__table {
    margin-bottom: @box-margin-bottom;
}

// MEDIA QUERIES
@media screen and (min-width: 1200px) {
    #order__checkout__billing__data .order__box__content {
        margin-top: -(floor((@line-height-computed + @table-cell-padding - 1) / 2));
    }
    #order__checkout__payoptions__data .order__box__content {
        margin-top: (ceil((@line-height-computed + @table-cell-padding - 1) / 2));
    }
}

@media screen and (max-width: 1199px) {
    #order__checkout__billing__data,
    #order__checkout__payoptions__data {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 551px) and (max-width: 1199px) {
    .order__checkout__billing {
        max-width: 500px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 991px) {
    .order__checkout__billing__and__payoptions__header {
        margin-bottom: 0;
    }

    .payment-options-label {
        position: static;
        .order__box .order__box__title;
        border: @box-border;
        border-bottom: 0px solid transparent;
    }

    .payment-options-wrapper {
        display: none;
    }

    #payment__methods {
        display: table-row !important;
    }
}

@media screen and (max-width: 675px) {
    // PRODUCTS CURRENCY
    .products-header-currency {
        margin-top: @padding-large-vertical;

        .select-box {
            width: 100% !important;
        }
    }
}

@media screen and (max-width: 550px) {
    // FORM
    .order__checkout__form__label,
    .order__checkout__form__input {
        display: block;
        width: 100% !important;
    }

    .credit-card-container {
        display: none !important;
    }

    .order__checkout__form__label {
        padding-bottom: 0;
    }

    .order__checkout__addfields__content td {
        padding-bottom: @table-cell-padding;
    }

    // PRODUCTS CURRENCY
    .products-header-currency {
        margin-top: @padding-large-vertical;

        .select-box {
            width: 100% !important;
        }
    }

    // ADDITIONAL FIELDS
    table.order__checkout__addfields__content {
        .text {
            width: 100%;
        }

        .select-box {
            width: 100% !important;
        }
    }
}

@media screen and (max-width: 500px) {
    #header .hotline {
        .hotline-language {
            display: block;
        }

        .hotline-language-separator {
            display: none;
        }
    }
}