div, td, select, input, textarea {
    font-size: 100%;
}

.title {
    background: transparent;
}

.label {
    color: @brand-primary;
    padding: 0;
    font-size: 100%;
}

.myaccount__login__page .toggleBlock {
    border-top: @main-border;
}

.myaccount__login__page .horizontal-bar-line {
    background: @main-border-color;
    border-right: none;
}

.settings {
    border: @main-border;
}

.settings_title {
    background: transparent;
    border-bottom: none;
}

.myaccount__login__page .socialButtons .button {
    box-shadow: 0 0 0 transparent;
}

.myaccount__login__page .toggleBlock .title {
    color: @brand-primary;
}