{% for product in products %}
    {% if product.PricingOptionsTree %}
        <div class="pricing-options-popup table-responsive pricing-options-popup-{{product.ProductID}}">
            <table class="table pricing-options-popup-content" data-pricing-options-product="{{product.ProductID}}">
                {%if dialogArgs.modal %}
                    <tr>
                {% endif %}
                    {% set pricingOptionsQueryString = '' %}
                    {% set pricingGroups = 0 %}
                    {% for groupID, group in product.PricingOptions %}
                    {% set pricingGroups = pricingGroups + 1 %}
                    {%if dialogArgs.modal == false %}
                        <tr>
                    {% endif %}
                    <td class="pricing-options-group pricing-options-group-{{group.GroupType|lower}}" data-pricing-options-product="{{product.ProductID}}" data-pricing-options-group-id="{{groupID}}" data-pricing-options-group-type="{{group.GroupType}}" {%if dialogArgs.modal == false %} colspan="2" {% endif %}>
                        <h4 class="pricing-options-group-title">{{group.GroupName}}</h4> 
                        {% if group.GroupDescription != "" %}
                            <p class="pricing-options-group-description">{{group.GroupDescription}}</p>
                        {% endif %} 
                        {% if group.GroupType == "COMBO" %}
                        <select class="pricing-option-field" name="OPTIONS{{product.ProductID}}[{{groupID}}][]">
                            {% for optionID, option in group.Options %}
                            {% if product.PricingOptionsTree[groupID][optionID] %}
                                {% set pricingOptionsQueryString = pricingOptionsQueryString +','+option.OptionValue %}
                            {% endif %}
                                <option value="{{option.OptionValue}}" {% if product.PricingOptionsTree[groupID][optionID] %} selected="selected" {% endif
                                %} data-pricing-option-id="{{optionID}}" data-pricing-option-operator="{{option.OptionOperator}}" class="select-field">{{option.OptionText}} {% if option.OptionDescription != '' %}{{option.OptionDescription}}{% endif %}
                                </option>
                            {% endfor %}
                        </select>
                        {% endif %} 
                        {% if group.GroupType == "RADIO" %}
                        <ul class="pricing-option">
                            {% for optionID, option in group.Options %}
                            {% if product.PricingOptionsTree[groupID][optionID] %}
                                {% set pricingOptionsQueryString = pricingOptionsQueryString +','+option.OptionValue %}
                            {% endif %}
                            <li>
                            <input id="pricing-option-field-{{product.ProductID}}-{{groupID}}-{{optionID}}" name="OPTIONS{{product.ProductID}}[{{groupID}}][]" value="{{option.OptionValue}}"
                                {% if product.PricingOptionsTree[groupID][optionID] %} checked="checked" {% endif %} data-pricing-option-id="{{optionID}}"
                                data-pricing-option-operator="{{option.OptionOperator}}" class="pricing-option-field radio-field" type="radio"
                                /><label data-pricing-option-id="{{optionID}}" for="pricing-option-field-{{product.ProductID}}-{{groupID}}-{{optionID}}">
                                {{option.OptionText}} <span class="pricing-option-description">{% if option.OptionDescription != '' %}{{option.OptionDescription}}{% endif %}</span></label>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %} 
                        {% if group.GroupType == "CHECKBOX" %}
                        <ul class="pricing-option">
                            {% for optionID, option in group.Options %}
                            {% if product.PricingOptionsTree[groupID][optionID] %}
                                {% set pricingOptionsQueryString = pricingOptionsQueryString +','+option.OptionValue %}
                            {% endif %}
                            <li>
                                <input id="pricing-option-field-{{product.ProductID}}-{{groupID}}-{{optionID}}" name="OPTIONS{{product.ProductID}}[{{groupID}}][{{optionID}}]" value="{{option.OptionValue}}"
                                {% if product.PricingOptionsTree[groupID][optionID] %} checked="checked" {% endif %} data-pricing-option-id="{{optionID}}"
                                data-pricing-option-operator="{{option.OptionOperator}}" class="pricing-option-field checkbox-field" type="checkbox"
                                /><label data-pricing-option-id="{{optionID}}" for="pricing-option-field-{{product.ProductID}}-{{groupID}}-{{optionID}}">
                                {{option.OptionText}} <span class="pricing-option-description">{% if option.OptionDescription != '' %}{{option.OptionDescription}}{% endif %}</span></label>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %} 
                        {% if group.GroupType == "INTERVAL" %}
                        <ul class="pricing-option">
                            {% for optionID, option in group.Options %}
                            {% if product.PricingOptionsTree[groupID][optionID] %}
                                {% set pricingOptionsQueryString = (pricingOptionsQueryString + ',' + option.queryVar+ '=' +option.val) %}
                            {% endif %}
                            <li>
                                <input id="pricing-option-field-{{product.ProductID}}-{{groupID}}-{{optionID}}" name="OPTIONS{{product.ProductID}}[{{groupID}}][{{optionID}}]" data-pricing-option-id="{{optionID}}"
                                data-pricing-option-operator="{{option.OptionOperator}}" class="pricing-option-field interval-field" type="number"
                                min="{{option.min}}" data-pricing-option-query-var="{{option.queryVar}}" max="{{option.max}}" step="1" value="{{option.val}}" /><label data-pricing-option-id="{{optionID}}" for="pricing-option-field-{{product.ProductID}}-{{groupID}}-{{optionID}}"><span class="pricing-option-title hidden">{{option.OptionText}}</span><span class="pricing-option-description">{% if option.OptionDescription != '' %}{{option.OptionDescription}}{% endif %}</span></label>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </td>
                        {%if dialogArgs.modal == false %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                    {%if dialogArgs.modal %}
                        </tr>
                    {% endif %}
                <tr class="pricing-options-popup-footer">
                    <td class="pricing-options-popup-price-cta" {%if dialogArgs.modal %} colspan="{{pricingGroups}}"{% endif %}>
                        <input type="hidden" value="{{pricingOptionsQueryString}}" id="pricing-options-query-string-{{product.ProductID}}" class="pricing-options-query-string" />
                        <div class="pricing-options-popup-price"></div>
                        <div class="pricing-options-popup-cta"><button class="btn btn-default btn-cta btn-success btn-submit">{{UPDATE_CART}}</button></div>
                    </td>
                </tr>
            </table>
        </div>
    {% endif %}
{% endfor %}