<div id="dont-leave-popup">
    <div class="title clearfix"></div>
    <div class="description clearfix">
        <div class="img-popup-discount">
            <a id="dont-leave-popup-discount-link" href="#"></a>
            <div id="dont-leave-popup-close-button"></div>
        </div>
    </div>
</div>