<div class="coupon">
    {% if settings.checkbox %}
      <div class="coupon__checkbox">
        <input type="checkbox" id="coupon-checkbox"/>
        <label for="coupon-checkbox">{{ I_HAVE_DISCOUNT_COUPON }}</label>
      </div><!-- /.coupon__checkbox -->
    {% endif %}
    <div class="coupon__form">
        <input type="text" name="coupon_fake" class="order__text__field" value="" placeholder="{{ DISCOUNT_COUPON }}">
    <button id="coupon-apply" class="btn-primary icon-refresh"></button>
    </div><!-- /.coupon__form -->
</div><!-- /.coupon -->
