/* MAIN
   -------------------------------- */
#main {
    padding-bottom: @main-padding;
}

#order__container {
    background: @main-bg;
    padding: @main-padding @main-padding 0;
    margin: @main-margin;
    border: @main-border;
    border-radius: @main-border-radius;
}

body.verify #order__container,
body.finish #order__container {
    padding: 20px 10px 0;
}

body.empty-cart #order__container {
    padding: 20px 25px 0;
}

body.page-support #order__container {
    padding: 15px 25px 25px;
}

body.product #order__container {
    padding: 15px 25px 0;
}

#order__header {
    margin-top: @main-header-margin - @main-padding;
    margin-bottom: @main-header-margin;
}

span.order__help_billing {
    padding-bottom: @table-cell-padding;
}

/* CUSTOM STYLES
   -------------------------------- */
#company_radio {
    margin-left: 5px;
}

.rtl #company_radio {
    margin-left: 0;
    margin-right: 5px;
}