<button type="button" name="Update" class="btn btn-default backup-cd-new-input" data-trigger="#{{ settings.inputIDs[index] }}">
    {% if settings.btnIcon %}
      <span class="icon icon-{{ settings.btnIcon }}">{% if settings.btnIconContent %}{{ settings.btnIconContent }}{% endif %}</span>
    {% endif %}
    <span class="btn-text">{{ settings.addLabel }}</span>
</button>