<div class="page-preloader"></div>

<div id="page">

  <div id="header">
    <div class="container">
      <div class="row">

        <div class="site-branding col-sm-4 text-left"></div><!-- /.site-branding -->
        <div class="top-info col-sm-8 text-right"><--{LANGUAGES}--></div><!-- /.top-info -->

      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /#header -->
  
    <div id="main">
        <div class="container">
            <div class="row">
                <div class="main-menu-wrapper"></div>
            </div><!-- /.row -->
            <div class="row">
                <div class="page-heading"><--{PAGE_HEADING}--> </div>
            </div><!-- /.row -->
            <div class="row">
                <div class="main-content-wrapper">
                    <--{PAGECODE}-->
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /main -->

    <div id="footer">
      <div class="container">
        <div class="row">

            <!-- FOOTER -->

        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /#footer -->

</div><!-- /#page -->


<script>
    /**
     * AvaMyAccount
     *
     * @version  1.0.0
     * @type {Object}
     */
    var AvaMyAccount = {
        version: 1.0,
        Utils: {},
        Functions: {},
        PageStructure: {},
        Layouts: {},
        Widgets: {},
        Callbacks: {},
        Custom: {},
        MenuLinks: {
            MY_ACCOUNT_LINK: {
                label: '<--{MENU_LABEL_MY_ACCOUNT}-->',
                link: '<--{MENU_LINK_MY_ACCOUNT}-->',
                icon: 'https://edge.avangate.net/images/merchant/3cba81c5c6cac4ce77157631fc2dc277/spacer.gif?20150506144033'
            },
            ORDER_LOOKUP_LINK: {
                label: '<--{MENU_LABEL_ORDER_LOOKUP}-->',
                link: '<--{MENU_LINK_ORDER_LOOKUP}-->',
                icon: 'https://edge.avangate.net/images/merchant/3cba81c5c6cac4ce77157631fc2dc277/spacer.gif?20150506144033'
            },
            MY_PRODUCTS_LINK: {
                label: '<--{MENU_LABEL_MY_PRODUCTS}-->',
                link: '<--{MENU_LINK_MY_PRODUCTS}-->',
                icon: null
            },
            USER_DATA_LINK: {
                label: '<--{MENU_LABEL_USER_DATA}-->',
                link: '<--{MENU_LINK_USER_DATA}-->',
                icon: null
            },
            PAYMENT_METHODS_LINK: {
                label: '<--{MENU_LABEL_PAYMENT_METHODS}-->',
                link: '<--{MENU_LINK_PAYMENT_METHODS}-->',
                icon: null
            },
            SUPPORT_LINK: {
                label: '<--{MENU_LABEL_SUPPORT}-->',
                link: '<--{MENU_LINK_SUPPORT}-->',
                icon: 'https://edge.avangate.net/images/merchant/3cba81c5c6cac4ce77157631fc2dc277/spacer.gif?20150506144033'
            },
            CONTACT_LINK: {
                label: 'Contact us',
                link: 'https://integration.avancart.com/support/section.php?#contact'
            },
            LOGOUT_LINK: {
                label: 'Logout',
                link: '<--{LOGOUT_LINK}-->'
            }
        }
    };
</script>