/*input[type="checkbox"]:not(old) + label, input[type="radio"]:not(old) + label {
    background: url("https://edge.avangate.net/images/merchant/1ae6464c6b5d51b363d7d96f97132c75/checks.png") no-repeat scroll 0 0;
    display: inline-block;
    line-height: 24px;
    margin-left: -28px;
    padding-left: 28px;
}
input[type="radio"]:checked:not(old) + label {
    background-position: 0 -48px;
}
input[type="checkbox"]:not(old), input[type="radio"]:not(old) {
    margin: 0;
    opacity: 0;
    padding: 0;
    width: 28px;
}
input[type="checkbox"]:checked:not(old) + label {
    background-position: 0 -24px;
}*/
