<div class="field-helper {% if settings.mirrored %}mirrored{% endif %} {{ settings.widgetClass }}">
    <span class="field-helper-icon icon {{ settings.iconClass }}"></span>
    <div class="field-helper-popup">
        {% if settings.contentTypeHtml %}
            {{ settings.contentHtml }}
        {% else %}
            <img src="{{ settings.contentImageSrc }}" alt="">
        {% endif %}
    </div>
</div>