.container {
    max-width: 990px;
}

.billing__content,
.payment__content {
    max-width: 550px;
    margin: 0 auto;
}

table.order__checkout__billing,
table.form-table-userinfo  {
    .text {
        width: 100%;
    }

    .select-box {
        width: 100% !important;
    }

    #cbExpMounth-select-box {
        width: 145px !important;
    }
    #cbExpYear-select-box {
        width: 83px !important;
    }
}

table.form-table-userinfo td.order__checkout__form__label,
table.form-table-userinfo td.order__checkout__form__label__error:not(.order__checkout__form__input):not(.order__checkout__form__input__error) {
    width: @form-label-width;
}

// FORM
.order__checkout__form__input {
    .clearfix();
}


// Media queries
@media screen and (max-width: 1090px) {
    #card__data__nr .field-helper .field-helper-popup {
        left: auto;
        right: 100%;
    }

    &.rtl #card__data__nr .field-helper .field-helper-popup {
        left: 100%;
        right: auto;
    }
}

@media screen and (max-width: 675px) {
    // Display form on small screens
    .order__checkout__form__label,
    .order__checkout__form__input,
    .form-table-userinfo .note,
    .form-table-userinfo td:empty {
        display: block;
    }

    table.form-table-userinfo td.order__checkout__form__label,
    table.order__checkout__billing td.order__checkout__form__label {
        padding-bottom: 0;
    }
    
//    .form-table-userinfo td:empty,
    .form-table-userinfo .note {
        margin-top: -@table-cell-padding;
    }

    .order__checkout__addfields__content td {
        padding-bottom: @table-cell-padding;
    }
}

@media screen and (max-width: 600px) {
    table.order__checkout__billing #cbExpMounth-select-box,
    table.order__checkout__billing #cbExpYear-select-box {
        width: 100% !important;
    }

    #cbExpMounth-select-box {
        margin-bottom: @table-cell-padding;
    }
}

@media screen and (max-width: 550px) {
    table.order__checkout__addfields__content {
        .text {
            width: 100%;
        }

        .select-box {
            width: 100% !important;
        }
    }
}
page-express-payments-checkout {
    .payment__content {
        max-width: 700px;
    }
}