/* VARIABLES
   -------------------------------- */

/* ==========================================================================
   GLOBAL
   ========================================================================== */
@resources-domain: 'https://secure.avangate.com';

/* ==========================================================================
   COLORS
   ========================================================================== */
//## Gray and brand colors for use across shopping cart.
@gray-base: #000;
@gray-darker: lighten(@gray-base, 13.5%); // #222
@gray-dark: lighten(@gray-base, 20%); // #333
@gray: lighten(@gray-base, 33.5%); // #555
@gray-light: lighten(@gray-base, 46.7%); // #777
@gray-lighter: lighten(@gray-base, 93.5%); // #eee
@brand-primary: #255e99;
@brand-success: #00a652;
@brand-info: #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger: #d9534f;

/* ==========================================================================
   SCAFFOLDING
   ========================================================================== */
//## Settings for some of the most global styles.
//** Background color for `<body>`.
@body-bg: @gray-lighter;
//** Global text color on `<body>`.
@text-color: @gray;
//** Global textual link color.
@link-color: @brand-primary;
//** Link hover color set via `darken()` function.
@link-hover-color: darken(@link-color, 15%);
//** Link hover decoration.
@link-hover-decoration: underline;
//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
@font-family-sans-serif: Helvetica, Arial, sans-serif;
@font-family-serif: 'Open Sans', sans-serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base: @font-family-sans-serif;
@font-size-base: 14px;
@font-size-large: ceil((@font-size-base * 1.25)); // ~18px
@font-size-small: ceil((@font-size-base * 0.85)); // ~12px
@font-size-h1: floor((@font-size-base * 2.6)); // ~36px
@font-size-h2: floor((@font-size-base * 2.15)); // ~30px
@font-size-h3: ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4: ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5: @font-size-base;
@font-size-h6: ceil((@font-size-base * 0.85)); // ~12px
//** Unit-less `line-height` for use in components like buttons.
@line-height-base: 1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed: floor((@font-size-base * @line-height-base)); // ~20px
//** By default, this inherits from the `<body>`.
@headings-font-family: inherit;
@headings-font-weight: 500;
@headings-line-height: 1.1;
@headings-color: inherit;

/* ==========================================================================
   COMPONENTS
   ========================================================================== */
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).
@padding-base-vertical: 6px;
@padding-base-horizontal: 12px;
@padding-large-vertical: 10px;
@padding-large-horizontal: 30px;
@padding-small-vertical: 5px;
@padding-small-horizontal: 10px;
@padding-xs-vertical: 1px;
@padding-xs-horizontal: 5px;
@line-height-large: 1.3333333; // extra decimals for Win 8.1 Chrome
@line-height-small: 1.5;
@border-radius-large: 6px;
@border-radius-base: 4px;
@border-radius-small: 3px;

/* ==========================================================================
   TABLES
   ========================================================================== */
//## Customizes the `.table` component with basic values, each used across all table variations.
//** Padding for `<th>`s and `<td>`s.
@table-cell-padding: 12px;
//** Padding for cells in `.table-condensed`.
@table-condensed-cell-padding: 6px;
//** Default background color used for all tables.
@table-bg: transparent;
//** Background color used for `.table-striped`.
@table-bg-accent: #f9f9f9;
//** Background color used for `.table-hover`.
@table-bg-hover: #f5f5f5;
@table-bg-active: @table-bg-hover;
//** Border color for table and cell borders.
@table-border-color: #ddd;

/* ==========================================================================
   BUTTONS
   ========================================================================== */
@btn-padding-large-vertical: 20px; // @padding-large-vertical;
@btn-padding-large-horizontal: 30px; // @padding-large-horizontal;
@btn-padding-small-vertical: @padding-small-vertical;
@btn-padding-small-horizontal: @padding-small-horizontal;
@btn-padding-xs-vertical: @padding-xs-vertical;
@btn-padding-xs-horizontal: @padding-xs-horizontal;

//## For each of Bootstrap's buttons, define text, background and border color.
@btn-font-weight: normal;
@btn-default-color: @brand-primary;
@btn-default-bg: #fff;
@btn-default-border: #ccc;
@btn-primary-color: @brand-primary;
@btn-primary-bg: #FFF;
@btn-primary-border: @brand-primary;
@btn-success-color: #fff;
@btn-success-bg: @brand-success;
@btn-success-border: darken(@btn-success-bg, 5%);
@btn-info-color: #fff;
@btn-info-bg: @brand-info;
@btn-info-border: darken(@btn-info-bg, 5%);
@btn-warning-color: #fff;
@btn-warning-bg: @brand-warning;
@btn-warning-border: darken(@btn-warning-bg, 5%);
@btn-danger-color: #fff;
@btn-danger-bg: @brand-danger;
@btn-danger-border: darken(@btn-danger-bg, 5%);
@btn-link-disabled-color: @gray-light;

/* ==========================================================================
   FORMS
   ========================================================================== */
//##
//** `<input>` background color
@input-bg: #fff;
//** `<input disabled>` background color
@input-bg-disabled: @gray-lighter;
//** Text color for `<input>`s
@input-color: @gray;
//** `<input>` border color
@input-border: #ccc;
//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
@input-border-radius: @border-radius-base;
//** Large `.form-control` border radius
@input-border-radius-large: @border-radius-large;
//** Small `.form-control` border radius
@input-border-radius-small: @border-radius-small;
//** Border color for inputs on focus
@input-border-focus: #ccc;
//** Background color for inputs on focus
@input-bg-focus: #fff;
//** Placeholder text color
@input-color-placeholder: #999;
//** Default `.form-control` height
@input-height-base: (@line-height-computed + (@padding-base-vertical * 2) + 2);
//** Large `.form-control` height
@input-height-large: (ceil(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 2);
//** Small `.form-control` height
@input-height-small: (floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 2);
//** `.form-group` margin
@form-group-margin-bottom: 15px;
@legend-color: @gray-dark;
@legend-border-color: #e5e5e5;
//** Background color for textual input addons
@input-group-addon-bg: @gray-lighter;
//** Border color for textual input addons
@input-group-addon-border-color: @input-border;
//** Disabled cursor for form controls and buttons.
@cursor-disabled: not-allowed;
@input-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
@input-box-shadow-focus: 0 0 0 transparent;
@form-label-width: 200px;

/* ==========================================================================
   HEADER
   ========================================================================== */
@header-bg: #fff;
@header-color: @text-color;
@header-padding: 15px 0;
@header-margin: 0 auto;
@header-width: 100%;
@header-border: 1px solid @main-border-color;
@header-border-width: 0 0 1px 0;

/* ==========================================================================
   SUBHEADER
   ========================================================================== */
@subheader-bg: @body-bg;
@subheader-padding: 15px 0 5px 0;
@subheader-margin: 0 auto;
@subheader-width: 100%;
@subheader-border: 0px solid transparent;

/* ==========================================================================
   MAIN
   ========================================================================== */
@main-bg: #FFF;
@main-color: @text-color;
@main-padding: 10px;
@main-margin: 10px auto;
@main-width: 100%;
@main-border-color: #DADADA;
@main-border: 1px solid @main-border-color;
@main-border-radius: @border-radius-large;

/* MAIN HEADER */
@main-header-margin: 15px;

/* ==========================================================================
   BOXES
   ========================================================================== */
@box-border: @main-border;
@box-border-radius: @border-radius-base;
@box-margin-bottom: 20px;
@box-shadow: none;

/* BOX HEADER */
@box-header-bg: @gray-lighter;
@box-header-color: @brand-primary;
@box-header-font-weight: normal;
@box-header-padding: 10px @padding-small-horizontal;

/* BOX CONTENT */
@box-content-padding: (2 * @padding-large-vertical) @padding-small-horizontal;
@box-content-bg: lighten(@body-bg, 50%);

/* ==========================================================================
   FOOTER
   ========================================================================== */
@footer-bg: #37464f;
@footer-color: #D0D0D0;
@footer-link-color: lighten(@link-color, 25%);
@footer-padding: 0;
@footer-margin: 0 auto;
@footer-width: 100%;
@footer-border: 0;

/* FOOTER HEADINGS */
@footer-headings-size: 16px;
@footer-headings-color: @footer-color;
@footer-headings-weight: bold;
@footer-headings-transform: uppercase;
@footer-headings-letter-spacing: normal;
@footer-headings-padding-bottom: 30px;

/* FOOTER CONTENT */
@footer-paragraph-padding-bottom: round(@footer-headings-padding-bottom / 2);
@footer-order-processedby-padding-top: round(@footer-headings-padding-bottom / 3 * 4);
@footer-hotline-content-padding-bottom: round(@footer-headings-padding-bottom / 4);
@footer-hotline-support-padding-top: round(@footer-headings-padding-bottom / 2);

/* ==========================================================================
   POPUP
   ========================================================================== */
@popup-padding: @main-padding;
@popup-bg: @main-bg;
@popup-border: @box-border;
@popup-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);

@popup-tooltip-color: #AAA;
@popup-tooltip-hover-color: @brand-primary;

/* ==========================================================================
                       ===== WIDGETS =====
   ========================================================================== */

/* ==========================================================================
   CART STEPS
   ========================================================================== */
@cart-steps-bg: @subheader-bg;
@cart-steps-inactive-color: @main-border-color;
@cart-steps-active-color: @brand-primary;
@cart-steps-padding: 0;
@cart-steps-margin: 0;
@cart-steps-font-size: 14px;

/* ==========================================================================
   CROSS SELLING
   ========================================================================== */
@x-sell-product-padding: 10px 10px 10px 10px; // @main-padding;
@x-sell-product-border: @box-border;

@x-sell-popup-width: 320px;
@x-sell-popup-padding: @popup-padding;
@x-sell-popup-bg: @popup-bg;
@x-sell-popup-border: @popup-border;
@x-sell-popup-box-shadow: @popup-box-shadow;

@x-sell-popup-tooltip-color: @popup-tooltip-color;
@x-sell-popup-tooltip-hover-color: @popup-tooltip-hover-color;

@x-sell-btn-font-size: 12px;
@x-sell-btn-padding: 3px 4px;

/* ==========================================================================
   HOTLINE
   ========================================================================== */
@hotline-margin-top: 10px;

/* ==========================================================================
   PRODUCTS IN SHOPPING CART
   ========================================================================== */
@products-box-header-bg: @box-header-bg;
@products-box-header-color: @box-header-color;
@products-box-header-currency-height: 34px;
@products-box-content-bg: @box-header-bg;
@product-name-color: @brand-primary;
@product-content-color: @brand-primary;
@products-total-price-color: @text-color;

/* ==========================================================================
   QUANTITY FIELDS
   ========================================================================== */
@quantity-field-border-color: @table-border-color;
@quantity-field-border-radius: @border-radius-small;
@quantity-field-button-bg: #FFF;
@quantity-field-button-bg-hover: @gray-lighter;

/* ==========================================================================
   FIELD HELPER
   ========================================================================== */
@field-helper-popup-padding: @popup-padding;
@field-helper-popup-bg: @popup-bg;
@field-helper-popup-border: @popup-border;
@field-helper-popup-box-shadow: @popup-box-shadow;

@field-helper-popup-tooltip-color: @popup-tooltip-color;
@field-helper-popup-tooltip-hover-color: @popup-tooltip-hover-color;

@field-helper-icon-line-height: @input-height-base;

/* ==========================================================================
   SECURE CHECKOUT
   ========================================================================== */
@secure-checkout-content-bg: @box-header-bg;
@secure-checkout-header-font-weight: bold;
@secure-checkout-header-text-transform: uppercase;
@secure-checkout-header-font-size: 13px;
@secure-checkout-content-font-size: 13px;
@secure-checkout-content-line-height: 140%;

/* ==========================================================================
   HEADING BORDERS
   ========================================================================== */
@heading-border-width: 40px;
@heading-border-height: 2px;
@heading-border-style: solid;
@heading-border-color: @brand-primary;
@heading-border-margin: @padding-base-vertical 0 0 0;

/* ==========================================================================
   FLOATING LABELS
   ========================================================================== */
@floating-label-top: -8px;
@floating-label-top-spacing: 10px;
@floating-label-font-size: 12px;
@floating-label-font-weight: normal;
@floating-label-color: lighten(@text-color, 25%);
@floating-label-active-color: @brand-primary;

/* ==========================================================================
   PAGE LOADER
   ========================================================================== */
@page-loader-url: 'https://secure.avangate.com/images/merchant/67caec8041b2d689a5035d3bf441c34c/gif-load.gif';
@page-loader-bg: #FFF;

/* ==========================================================================
   DON'T LEAVE POPUP
   ========================================================================== */
@dont-leave-image-width: 699px;
@dont-leave-image-height: 210px;
@dont-leave-close-btn-width: 30px;
@dont-leave-close-btn-height: 30px;

/* ==========================================================================
   MISC
   ========================================================================== */
@dialog-full-width-breakpoint: 959px;