.main-menu {
    background: @main-menu-bg;
}

.main-menu-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-menu-link {
    float: left;
    a, a:link {
        padding: @main-menu-link-padding;
        display: block;
        font-size: @main-menu-link-font-size;
        line-height: @main-menu-link-line-height;
        color: @main-menu-link-color;
        background: @main-menu-link-bg;
    }
    a:hover {
        color: @main-menu-link-color-hover;
        background: @main-menu-link-bg-hover;
        text-decoration: none;
    }
    a:active {
        color: @main-menu-link-color-active;
        background: @main-menu-link-bg-active;
    }
    &.selected a {
        color: @main-menu-link-color-selected;
        background: @main-menu-link-bg-selected;
    }
    
    .main-menu-link-icon {
        width: 16px;
        height: @main-menu-link-line-height;
        display: inline-block;
        margin: 0 5px -5px 0;
    }
    
    .my-account-link .main-menu-link-icon {
        background: url('https://edge.avangate.net/images/merchant/3cba81c5c6cac4ce77157631fc2dc277/myaccount.png?20150506112724') no-repeat center center;
    }
    
    .order-lookup-link .main-menu-link-icon {
        background: url('https://edge.avangate.net/images/merchant/3cba81c5c6cac4ce77157631fc2dc277/order-lookup.png?20150506112738') no-repeat center center;
    }
    
    .my-products-link .main-menu-link-icon {
        background: url('https://edge.avangate.net/images/merchant/3cba81c5c6cac4ce77157631fc2dc277/my-prdocuts.png?20150506112724') no-repeat center center;
    }
    
    .user-data-link .main-menu-link-icon {
        background: url('https://edge.avangate.net/images/merchant/3cba81c5c6cac4ce77157631fc2dc277/Default_2_0-personal-inform-icon.png?20150604104851') no-repeat center center;
    }
    
    .payment-methods-link .main-menu-link-icon {
        background: url('https://edge.avangate.net/images/merchant/3cba81c5c6cac4ce77157631fc2dc277/payment-methods.png?20150506112738') no-repeat center center;
    }
    
    .support-link .main-menu-link-icon {
        background: url('https://edge.avangate.net/images/merchant/3cba81c5c6cac4ce77157631fc2dc277/support.png?20150506112801') no-repeat center center;
    }
    
    .contact-link .main-menu-link-icon {
        background: url('https://edge.avangate.net/images/merchant/3cba81c5c6cac4ce77157631fc2dc277/contact.png?20150506112709') no-repeat center center;
    }
    
    .logout-link .main-menu-link-icon {
        background: url('https://edge.avangate.net/images/merchant/3cba81c5c6cac4ce77157631fc2dc277/logout.png?20150506112709') no-repeat center center;
    }
}

/*==========  MEDIA QUERIES  ==========*/
@media only screen and (min-width : 1200px) {
    
}