<div class="logo">
    {% if link %}
        <a href="{{ link }}">
    {% endif %}
        {% if image %}
            <img class="logo" src="{{ image }}" alt="" />
        {% endif %}
        {% if text %}
          {{ text }}
        {% endif %}
    {% if link %}
        </a>
    {% endif %}
</div><!-- /.logo -->
