<div class="main-menu">
    <a href="#" class="menu-toggle"><span class="icon icon-align-justify"></span> <span class="sr-only">Menu</span></a>
    <div class="main-menu-links-wrapper clearfix">
        <ul class="main-menu-links pull-left">
            <li class="main-menu-link {% if isLinkSelected(settings.links.MY_ACCOUNT_LINK.link) %}selected{% endif %}">
                <a href="{{ settings.links.MY_ACCOUNT_LINK.link }}" class="my-account-link">
                    <span class="main-menu-link-icon"></span>
                    <span class="main-menu-link-text">{{ settings.links.MY_ACCOUNT_LINK.label }}</span>
                </a>
            </li>
            <li class="main-menu-link {% if isLinkSelected(settings.links.ORDER_LOOKUP_LINK.link) %}selected{% endif %}">
                <a href="{{ settings.links.ORDER_LOOKUP_LINK.link }}" class="order-lookup-link">
                    <span class="main-menu-link-icon"></span>
                    <span class="main-menu-link-text">{{ settings.links.ORDER_LOOKUP_LINK.label }}</span>
                </a>
            </li>
            {% if settings.isLoggedIn %}
                <li class="main-menu-link {% if isLinkSelected(settings.links.MY_PRODUCTS_LINK.link) %}selected{% endif %}">
                    <a href="{{ settings.links.MY_PRODUCTS_LINK.link }}" class="my-products-link">
                        <span class="main-menu-link-icon"></span>
                        <span class="main-menu-link-text">{{ settings.links.MY_PRODUCTS_LINK.label }}</span>
                    </a>
                </li>
            {% endif %}
            {% if settings.isLoggedIn %}
                <li class="main-menu-link {% if isLinkSelected(settings.links.USER_DATA_LINK.link) %}selected{% endif %}">
                    <a href="{{ settings.links.USER_DATA_LINK.link }}" class="user-data-link">
                        <span class="main-menu-link-icon"></span>
                        <span class="main-menu-link-text">{{ settings.links.USER_DATA_LINK.label }}</span>
                    </a>
                </li>
            {% endif %}
            {% if settings.isLoggedIn %}
                <li class="main-menu-link {% if isLinkSelected(settings.links.PAYMENT_METHODS_LINK.link) %}selected{% endif %}">
                    <a href="{{ settings.links.PAYMENT_METHODS_LINK.link }}" class="payment-methods-link">
                        <span class="main-menu-link-icon"></span>
                        <span class="main-menu-link-text">{{ settings.links.PAYMENT_METHODS_LINK.label }}</span>
                    </a>
                </li>
            {% endif %}
            <li class="main-menu-link {% if isLinkSelected('/support/') %}selected{% endif %}">
                <a href="{{ settings.links.SUPPORT_LINK.link }}" class="support-link">
                    <span class="main-menu-link-icon"></span>
                    <span class="main-menu-link-text">{{ settings.links.SUPPORT_LINK.label }}</span>
                </a>
            </li>
        </ul>
        <ul class="main-menu-links pull-right">
            <li class="main-menu-link">
                <a href="{{ settings.links.CONTACT_LINK.link }}" class="contact-link">
                    <span class="main-menu-link-icon"></span>
                    <span class="main-menu-link-text">{{ settings.links.CONTACT_LINK.label }}</span>
                </a>
            </li>
            {% if settings.isLoggedIn %}
                <li class="main-menu-link">
                    <a href="{{ settings.links.LOGOUT_LINK.link }}" class="logout-link">
                        <span class="main-menu-link-icon"></span>
                        <span class="main-menu-link-text">{{ settings.links.LOGOUT_LINK.label }}</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>