/* VARIABLES
   -------------------------------- */

/* ==========================================================================
   GLOBAL
   ========================================================================== */
 @resources-domain: 'https://secure.avangate.com';

/* ==========================================================================
   COLORS
   ========================================================================== */
////## Gray and brand colors for use across shopping cart.
//@gray-base: #000;
//@gray-darker: lighten(@gray-base, 13.5%); // #222
//@gray-dark: lighten(@gray-base, 20%); // #333
//@gray: #5b5b5b;
//@gray-light: #efefef;
//@gray-lighter: lighten(@gray-base, 93.5%); // #eee
//@brand-primary: #2a9dcc;
//@brand-success: #00a652;
//@brand-info: #5bc0de;
//@brand-warning: #f0ad4e;
//@brand-danger: #d9534f;

/* ==========================================================================
   SCAFFOLDING
   ========================================================================== */
////## Settings for some of the most global styles.
////** Background color for `<body>`.
//@body-bg: #FFF;
////** Global text color on `<body>`.
//@text-color: @gray;
////** Global textual link color.
//@link-color: @brand-primary;
////** Link hover color set via `darken()` function.
//@link-hover-color: darken(@link-color, 15%);
////** Link hover decoration.
//@link-hover-decoration: underline;
//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
@font-family-sans-serif: Helvetica, Arial, sans-serif;
@font-family-serif: 'Open Sans', sans-serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base: @font-family-sans-serif;
@font-size-base: 13px;
@font-size-large: 17px;
@font-size-small: ceil((@font-size-base * 0.85)); // ~12px
@font-size-h1: floor((@font-size-base * 2.6)); // ~36px
@font-size-h2: floor((@font-size-base * 2.15)); // ~30px
@font-size-h3: ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4: ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5: @font-size-base;
@font-size-h6: ceil((@font-size-base * 0.85)); // ~12px
//** Unit-less `line-height` for use in components like buttons.
@line-height-base: 2;
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed: floor((@font-size-base * @line-height-base)); // ~20px
//** By default, this inherits from the `<body>`.
@headings-font-family: inherit;
@headings-font-weight: 500;
@headings-line-height: 1.1;
@headings-color: inherit;

/* ==========================================================================
   COMPONENTS
   ========================================================================== */
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).
@padding-base-vertical: 6px;
@padding-base-horizontal: 12px;
@padding-large-vertical: 12px;
@padding-large-horizontal: 50px;
@padding-small-vertical: 5px;
@padding-small-horizontal: 20px;
@padding-xs-vertical: 1px;
@padding-xs-horizontal: 5px;
@line-height-large: 1.3333333; // extra decimals for Win 8.1 Chrome
@line-height-small: 1.6;
@border-radius-large: 0px;
@border-radius-base: 4px;
@border-radius-small: 2px;

/* ==========================================================================
   TABLES
   ========================================================================== */
//## Customizes the `.table` component with basic values, each used across all table variations.
//** Padding for `<th>`s and `<td>`s.
@table-cell-padding: 12px;
//** Padding for cells in `.table-condensed`.
@table-condensed-cell-padding: 6px;
//** Default background color used for all tables.
@table-bg: transparent;
//** Background color used for `.table-striped`.
@table-bg-accent: #f9f9f9;
//** Background color used for `.table-hover`.
@table-bg-hover: #f5f5f5;
@table-bg-active: @table-bg-hover;
//** Border color for table and cell borders.
@table-border-color: #ddd;

///* ==========================================================================
//   BUTTONS
//   ========================================================================== */
////## For each of Bootstrap's buttons, define text, background and border color.
//@btn-font-weight: normal;
//@btn-default-color: @brand-primary;
//@btn-default-bg: #fff;
//@btn-default-border: #ccc;
//@btn-primary-color: @brand-primary;
//@btn-primary-bg: #FFF;
//@btn-primary-border: @brand-primary;
//@btn-success-color: #fff;
//@btn-success-bg: @brand-primary;
//@btn-success-border: darken(@btn-success-bg, 5%);
//@btn-info-color: #fff;
//@btn-info-bg: @brand-info;
//@btn-info-border: darken(@btn-info-bg, 5%);
//@btn-warning-color: #fff;
//@btn-warning-bg: @brand-warning;
//@btn-warning-border: darken(@btn-warning-bg, 5%);
//@btn-danger-color: #fff;
//@btn-danger-bg: @brand-danger;
//@btn-danger-border: darken(@btn-danger-bg, 5%);
//@btn-link-disabled-color: @gray-light;

/* ==========================================================================
   FORMS
   ========================================================================== */
//##
//** `<input>` background color
@input-bg: #fff;
//** `<input disabled>` background color
@input-bg-disabled: @gray-lighter;
//** Text color for `<input>`s
@input-color: @gray;
//** `<input>` border color
@input-border: #ccc;
//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
@input-border-radius: @border-radius-small;
//** Large `.form-control` border radius
@input-border-radius-large: @border-radius-large;
//** Small `.form-control` border radius
@input-border-radius-small: @border-radius-small;
//** Border color for inputs on focus
@input-border-focus: @brand-primary;
//** Background color for inputs on focus
@input-bg-focus: #fff;
//** Placeholder text color
@input-color-placeholder: #999;
//** Default `.form-control` height
@input-height-base: (@line-height-computed + (@padding-base-vertical * 2) + 2);
//** Large `.form-control` height
@input-height-large: (ceil(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 2);
//** Small `.form-control` height
@input-height-small: (floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 2);
//** `.form-group` margin
@form-group-margin-bottom: 15px;
@legend-color: @gray-dark;
@legend-border-color: #e5e5e5;
//** Background color for textual input addons
@input-group-addon-bg: @gray-lighter;
//** Border color for textual input addons
@input-group-addon-border-color: @input-border;
//** Disabled cursor for form controls and buttons.
@cursor-disabled: not-allowed;
@input-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
@input-box-shadow-focus: 0 0 0 transparent;
@form-label-width: 200px;

///* ==========================================================================
//   HEADER
//   ========================================================================== */
//@header-bg: @gray-light;
//@header-color: @text-color;
//@header-padding: 10px 0;
//@header-margin: 0 auto;
//@header-width: 100%;
//@header-border: 1px solid #cecece;
//@header-border-width: 0 0 1px 0;

/* ==========================================================================

   MAIN
   ========================================================================== */
@main-bg: transparent;
@main-color: @text-color;
@main-padding: 10px;
@main-margin: 0 auto 10px auto;
@main-width: 100%;
@main-border-color: #DADADA;
@main-border: 0px solid transparent;
@main-border-radius: @border-radius-large;

/* MAIN HEADER */
@main-header-margin: 15px;

///* ==========================================================================
//   BOXES
//   ========================================================================== */
//@box-border: 1px solid @main-border-color;
//@box-border-radius: @border-radius-base;
//@box-margin-bottom: 20px;
//
///* BOX HEADER */
//@box-header-bg: @gray-light;
//@box-header-color: @text-color;
//@box-header-font-weight: normal;
//@box-header-padding: @padding-large-vertical @padding-small-horizontal;
//
///* BOX CONTENT */
//@box-content-padding: (2 * @padding-large-vertical) @padding-small-horizontal;
//@box-content-bg: lighten(@body-bg, 50%);

///* ==========================================================================
//   FOOTER
//   ========================================================================== */
//@footer-bg: @gray-light;
//@footer-color: @text-color;
//@footer-link-color: @link-color;
//@footer-padding: 0;
//@footer-margin: 0 auto;
//@footer-width: 100%;
//@footer-border: 1px solid #cecece;
//
///* FOOTER HEADINGS */
//@footer-headings-size: 16px;
//@footer-headings-color: @footer-color;
//@footer-headings-weight: bold;
//@footer-headings-transform: uppercase;
//@footer-headings-letter-spacing: normal;
//@footer-headings-padding-bottom: 5px;
//
///* FOOTER CONTENT */
//@footer-paragraph-padding-bottom: round(@footer-headings-padding-bottom / 2);
//@footer-order-processedby-padding-top: round(@footer-headings-padding-bottom / 3 * 4);
//@footer-hotline-content-padding-bottom: round(@footer-headings-padding-bottom / 4);
//@footer-hotline-support-padding-top: @box-margin-bottom;

/* ==========================================================================
   POPUP
   ========================================================================== */
@popup-padding: @main-padding;
@popup-bg: @main-bg;
@popup-border: @box-border;
@popup-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);

@popup-tooltip-color: #AAA;
@popup-tooltip-hover-color: @brand-primary;

/* ==========================================================================
                       ===== WIDGETS =====
   ========================================================================== */

/* ==========================================================================
   CROSS SELLING
   ========================================================================== */
@x-sell-product-padding: 10px 10px 10px 10px;//@main-padding;

@x-sell-popup-width: 320px;
@x-sell-popup-padding: @popup-padding;
@x-sell-popup-bg: @popup-bg;
@x-sell-popup-border: @popup-border;
@x-sell-popup-box-shadow: @popup-box-shadow;

@x-sell-popup-tooltip-color: @popup-tooltip-color;
@x-sell-popup-tooltip-hover-color: @popup-tooltip-hover-color;

/* ==========================================================================
   HOTLINE
   ========================================================================== */
@hotline-margin-top: 10px;

/* ==========================================================================
   PRODUCTS IN SHOPPING CART
   ========================================================================== */
@products-box-header-bg: @box-header-bg;
@products-box-header-color: @box-header-color;
@products-box-header-currency-height: 34px;
@products-box-content-bg: @box-header-bg;

/* ==========================================================================
   QUANTITY FIELDS
   ========================================================================== */
@quantity-field-border-color: @table-border-color;
@quantity-field-border-radius: @border-radius-small;
@quantity-field-button-bg: #FFF;
@quantity-field-button-bg-hover: @gray-lighter;

/* ==========================================================================
   FIELD HELPER
   ========================================================================== */
@field-helper-popup-padding: @popup-padding;
@field-helper-popup-bg: @popup-bg;
@field-helper-popup-border: @popup-border;
@field-helper-popup-box-shadow: @popup-box-shadow;

@field-helper-popup-tooltip-color: @popup-tooltip-color;
@field-helper-popup-tooltip-hover-color: @popup-tooltip-hover-color;

@field-helper-icon-line-height: @input-height-base;

///* ==========================================================================
//   SECURE CHECKOUT
//   ========================================================================== */
//@secure-checkout-content-bg: transparent;
//@secure-checkout-content-line-height: 140%;

/* ==========================================================================
   HEADING BORDERS
   ========================================================================== */
@heading-border-width: 40px;
@heading-border-height: 2px;
@heading-border-style: solid;
@heading-border-color: @brand-primary;
@heading-border-margin: @padding-base-vertical 0 0 0;

/* ==========================================================================
   PAGE LOADER
   ========================================================================== */
@page-loader-url: 'https://secure.avangate.com/images/merchant/67caec8041b2d689a5035d3bf441c34c/gif-load.gif';
@page-loader-bg: #FFF;