.container {
    max-width: 990px;
}

// CART STEPS
#steps-wrap.preset-4 #steps .step-nr {
    background: transparent;
    border: 1px solid darken(@cart-steps-inactive-color, 10%);
    padding: 2px;
    .step-nr-text {
        font-weight: bold;
    }
}

#steps-wrap.preset-4 #steps .step.checked .step-nr,
#steps-wrap.preset-4 #steps .step.current .step-nr {
    background: @brand-primary;
    border: 1px solid transparent;
}

// MAIN
#order__header {
    display: none;
}

// FORM
.form-table-billing .order__checkout__form__label {
    width: 145px !important;
}

.order__checkout__form__input {
    .clearfix();
    width: 315px;
}

.payment-options-wrapper {
    width: 315px;
}

.payment-options-wrapper-express .payment-options-wrapper {
    width: 100%;
}

.payment-option-image.sprite-32 {
    margin-top: -4px;
}

.payment-options-card-icons > img {
    margin-top: 3px;
}

table.form-table-userinfo  {
    .text {
        width: 100%;
    }

    .select-box {
        width: 100% !important;
    }

    #cbExpMounth-select-box {
        width: 145px !important;
    }
    #cbExpYear-select-box {
        width: 83px !important;
    }

//    .order__checkout__form__label,
    .payment-options-label {
        width: 200px;
    }
}

#fiscalcode {
    width: 201px;
}

.products-header-currency {
    margin-top: -2px;
    @media screen and (max-width: 767px) {
        margin-top: @padding-small-vertical;
    }

    .currency__label {
        margin-right: 20px;
    }
}

.order__listing__item__name {
    color: @brand-primary;
    font-weight: bold;
    .order__product__options {
        color: @text-color;
        font-weight: normal;
    }
}

.payment-options-combo {
    margin-bottom: 0;
}

.payment-options-wrapper-express .payment-options-combo {
    margin-bottom: @table-cell-padding;
}

.jp-card-container {
    margin: 0 !important;
    width: 315px !important;
}

body.checkout .order__finish__terms__and__conds__agreement {
    text-align: right;
}

.order__checkout__button__container {
    .clearfix();
}

body.checkout .btn-submit {
    float: right;
    font-size: 15px;
}

#Finish--btn,
#Delivery--btn {
    float: none;
}

// BOTTOM CONTENT
.order__checkout__bottom__content__wrapper {
    width: 100%;
}

//    // SECURE CHECKOUT
//    .secure-checkout-seals {
//        display: block;
//        float: none;
//        margin-top: @padding-large-vertical;
//        margin-left: 0;
//        @media screen and (max-width: 991px) {
//            text-align: center;
//        }
//    }
//
//    .order__finish__terms__and__conds__agreement {
//        margin-bottom: @box-margin-bottom;
//        br {
//            display: none;
//        }
//    }

// FOOTER
#footer .order-privacy-link {
    margin-right: @padding-small-horizontal;
}

#footer a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.order-privacy-link-separator {
    display: none;
}

#order__privacy {
    padding-top: @padding-large-vertical;
}

// MEDIA QUERIES
@media screen and (min-width: 1199px) {
    .payment-options-select {
        width: 315px;
    }
    .payment-options-wrapper-express .payment-options-select {
        width: 100%;
    }
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
    // Display form on small screens
    .payment-options-label,
    .payment-options-wrapper,
    .order__checkout__form__label,
    .order__checkout__form__input,
    .credit-card-label,
    .credit-card-wrapper {
        display: block;
        width: 100% !important;
    }

    .payment-options-label,
    .order__checkout__form__label,
    .credit-card-label {
        padding-bottom: 0;
    }

    .order__checkout__form__input {
        .clearfix();
    }
}

@media screen and (min-width: 551px) and (max-width: 1199px) {
    .order__checkout__billing {
        max-width: 500px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 550px) {
    // FORM
    .order__checkout__form__label,
    .order__checkout__form__input,
    .payment-options-label,
    .payment-options-wrapper {
        display: block;
        width: 100% !important;
    }

    .credit-card-container {
        display: none !important;
    }

    .order__checkout__form__label,
    .payment-options-label,
    .credit-card-label {
        padding-bottom: 0;
    }

    .order__checkout__addfields__content td {
        padding-bottom: @table-cell-padding;
    }

    // PRODUCTS CURRENCY
    .products-header-currency {
        margin-top: @padding-large-vertical;

        .select-box {
            width: 100% !important;
        }
    }

    // ADDITIONAL FIELDS
    table.order__checkout__addfields__content {
        .text {
            width: 100%;
        }

        .select-box {
            width: 100% !important;
        }
    }
}

@media screen and (max-width: 500px) {
    #header .hotline {
        .hotline-language {
            display: block;
        }

        .hotline-language-separator {
            display: none;
        }
    }
}