.sprite-64 {
    background-image: url("https://edge.avangate.net/images/merchant/67caec8041b2d689a5035d3bf441c34c/payment-options-sprite-64.png?ver=25012016");
}

.sprite-64.pay_opt_1 {
    /*Visa*/
    background-position: 0 362px;
    height: 44px;
    width: 130px;
}

.sprite-64.pay_opt_2 {
    /*Bank Wire*/
    background-position: -74px 680px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_3 {
    /*Cash*/
    background-position: -74px 416px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_4 {
    /*Amex*/
    background-position: 0 724px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_5 {
    /*Diners*/
    background-position: 0 636px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_6 {
    /*JCB*/
    background-position: -74px 901px;
    height: 45px;
    width: 64px;
}

.sprite-64.pay_opt_8 {
    /*Paypal*/
    background-position: -74px 504px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_9 {
    /*Fax*/
    background-position: -74px 636px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_11 {
    /*Purchase Order*/
    background-position: -74px 592px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_12 {
    /*Trial Pay*/
    background-position: 0 592px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_14 {
    /*Discover*/
    background-position: 0 812px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_15 {
    /*CHECK*/
    background-position: -74px 460px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_16 {
    /*Direct sofortbanking*/
    background-position: 0 856px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_17 {
    /*Carte Blue*/
    background-position: 0 504px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_19 {
    /*Solo*/
    background-position: 0 680px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_20 {
    /*Alipay*/
    background-position: 0 900px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_21 {
    /*Direct Debit - SEPA*/
    background-position: -148px 416px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_22 {
    /*Giro Pay*/
    background-position: 0 416px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_23 {
    /*Ideal*/
    background-position: 0 460px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_24 {
    /*WebMoney*/
    background-position: 0 548px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_25 {
    /*PayNearMe*/
    background-position: -148px 900px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_27 {
    /*Boleto*/
    background-position: -148px 548px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_32 {
    /*CashU*/
    background-position: -148px 812px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_36 {
    /*UKASK*/
    background-position: -148px 856px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_37 {
    /*Dankort DK*/
    background-position: -148px 768px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_38 {
    /*Wire*/
    background-position: -74px 680px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_39 {
    /*Chinese Debit Card - ePayment*/
    background-position: -148px 724px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_42 {
    /*Konbini - in Japanese*/
    background-position: -148px 680px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_43 {
    /*Pago*/
    background-position: -148px 592px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_44 {
    /*Santander*/
    background-position: -148px 636px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_47 {
    /*Pago*/
    background-position: -148px 592px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_48 {
    /*Qiwi*/
    background-position: -148px 504px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_49 {
    /*ACH*/
    background-position: -148px 460px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_50 {
    /*Sepa*/
    background-position: -148px 416px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_55 {
    /*Paypal*/
    background-position: -74px 548px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_56 {
    /*UnionPay*/
    background-position: -222px 856px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_57 {
    /*Elo card*/
    background-position: -222px 768px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_58 {
    /*Hipercard*/
    background-position: -222px 812px;
    height: 44px;
    width: 64px;
}

.sprite-64.pay_opt_59 {
    /*OP-Pohjola*/
    background-position: -222px 636px;
    height: 44px;
    width: 64px;
}
.sprite-64.pay_opt_60 {
    /*Nordea*/
    background-position: -222px 680px;
    height: 44px;
    width: 64px;
}
.sprite-64.pay_opt_61 {
    /*Danske*/
    background-position: -222px 724px;
    height: 44px;
    width: 64px;
}
.sprite-64.pay_opt_62 {
    /*Trustly*/
    background-position: -222px 592px;
    height: 44px;
    width: 64px;
}