/* MAIN
   -------------------------------- */
#main {
    padding-bottom: @main-padding;
}

.page-heading {
    background: @page-header-bg;
    color: @page-header-color;
    font-size: @page-header-font-size;
    padding: @page-header-padding;
    margin: @page-header-margin;
}

.main-content-wrapper {
    background: @main-bg;
    padding: @main-padding;
    margin: @main-margin;
    border: @main-border;
    border-radius: @main-border-radius;
}