// This layout uses general variables //

/* ==========================================================================
   COLORS
   ========================================================================== */
@brand-success: #00A652;
@link-color: #0188CC;
@gray-lighter: #F5F5F5;
@gray-light: #EAEAEA;

/* ==========================================================================
   SCAFFOLDING
   ========================================================================== */
@font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;

/* ==========================================================================
   COMPONENTS
   ========================================================================== */
@padding-large-vertical: 7px;

/* ==========================================================================
   FORMS
   ========================================================================== */
@input-height-base: 44px;
@input-border-focus: @link-color;

/* ==========================================================================
   BUTTONS
   ========================================================================== */
@btn-padding-large-vertical: 14px;
@btn-default-color: @link-color;
@btn-default-border: #ccc;
@btn-primary-color: @link-color;
@btn-primary-border: #ccc;

/* ==========================================================================
   SUBHEADER
   ========================================================================== */
@subheader-padding: 15px 0 5px 0;

/* ==========================================================================
   BOXES
   ========================================================================== */
@box-shadow: 0 2px 2px rgba(0,0,0,.05);
/* BOX HEADER */
@box-header-bg: @gray-light;
/* BOX CONTENT */
@box-content-padding: (2 * @padding-large-vertical) @padding-small-horizontal;

/* ==========================================================================
   PRODUCTS IN SHOPPING CART
   ========================================================================== */
@product-name-color: @text-color;
@product-content-color: @text-color;
@products-total-price-color: @brand-success;

/* ==========================================================================
   CROSS SELLING
   ========================================================================== */
@x-sell-product-border: 0px solid transparent;
@x-sell-btn-padding: 6px 12px;

/* ==========================================================================
   SECURE CHECKOUT
   ========================================================================== */
@secure-checkout-header-font-weight: normal;
@secure-checkout-header-text-transform: none;
@secure-checkout-header-font-size: @font-size-large;