.container {
    max-width: 990px;
}

#main {
    padding-bottom: 0;
}

#order__container {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0;
}

#order__header {
    .select-box {
        height: 34px;
        .selected-option {
            height: 34px !important;
            line-height: 34px !important;
        }
    }
    .select-box-arrow-wrapper {
        height: 34px;
    }
    select {
        height: 34px;
    }
}

.coupon__form input.order__text__field[type=text] {
    height: 34px;
}

.billing__content,
.payment__content {
    max-width: 630px;
    margin: 0 auto;
}

table.order__checkout__billing,
table.form-table-userinfo  {
    .text {
        width: 100%;
    }

    .select-box {
        width: 100% !important;
    }

    #cbExpMounth-select-box {
        width: 145px !important;
        float: left;
    }
    #cbExpYear-select-box {
        width: 83px !important;
        float: left;
        margin-right: 5px;
    }
}

.tiCVV-wrapper {
    width: 170px;
    float: left;
    
    @media screen and (min-width: 676px) and (max-width: 724px) {
        width: 128px;
    }
    
    @media screen and (min-width: 601px) and (max-width: 675px) {
        width: 200px;
    }
}

table.form-table-userinfo td.order__checkout__form__label,
table.form-table-userinfo td.order__checkout__form__label__error:not(.order__checkout__form__input):not(.order__checkout__form__input__error) {
    width: @form-label-width;
}

// Products in shopping cart
tr.order__listing__header td {
    font-weight: normal;
}

#order__cart__contents .order__listing__item__unit__price,
#order__cart__contents .order__listing__item__total__price {
    font-weight: bold;
}

tr.order__product__discount td {
    border-bottom: 0px solid transparent;
    padding-left: 10px;
    padding-right: 10px;
}

tr.order__listing__header .products-content__title,
#order__cart__contents .products-content__info {
    text-align: left;
}

tr.order__listing__header .order__listing__header__name,
#order__cart__contents .order__listing__item__name {
    text-align: left;
}

tr.order__listing__header .order__listing__header__total__price,
#order__cart__contents .order__listing__item__total__price {
    text-align: right;
}

body.rtl {
    tr.order__listing__header .order__listing__header__name,
    #order__cart__contents .order__listing__item__name {
        text-align: right;
    }

    tr.order__listing__header .order__listing__header__total__price,
    #order__cart__contents .order__listing__item__total__price {
        text-align: left;
    }
}

.remove-product-button {
    margin-right: 5px;
}

body.rtl .remove-product-button {
    margin-left: 5px;
}

.field-wrapper.trial-price-popup .field-helper {
    bottom: -9px;
}

// BACKUP USB
.order__backupcd__option.order__backupusb__option > tbody > tr > td:nth-of-type(2),
.order__backupusb__icon {
    display: none;
}


// Errors
.order__checkout__payment__content {
    .order__field__error {
        display: none !important;
    }
}

// Express Checkout
#payment_radios_wrap_tr {
    display: none !important;
}

@media screen and (min-width: 768px) {
    .x-sell-img {
        float: left;
    }
    .x-sell-prod-add {
        vertical-align: middle;
    }
}

@media screen and (min-width: 768px) {
    #x-sell.display-horizontal .x-sell-prod-add,
    #x-sell.display-horizontal .x-sell-prod-prices {
        text-align: right;
    }

    body.rtl {
        #x-sell.display-horizontal .x-sell-prod-add,
        #x-sell.display-horizontal .x-sell-prod-prices {
            text-align: left;
        }
    }

    #x-sell.display-horizontal .x-sell-prod-prices {
        width: 30%;
    }

    #x-sell.display-horizontal .x-sell-prod-add {
        width: 20%;
    }
}

// FORM
.order__checkout__form__input {
    .clearfix();
}

#order__finalTotalPrice {
    background: transparent;
}

#order__finalTotalPrice {
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0;
}

#order__autorenewal__container {
    margin-top: 0;
}
#cta-submit-button-container-wrapper td,
#autorenewal-container-wrapper td {
    padding-bottom: 0;
}

body.checkout .order__finish__terms__and__conds__agreement br {
    display: none;
}

body.checkout .btn-cta.btn-success {
    width: 100%;
    max-width: 410px;
}

body.checkout.page-express-payments-checkout .btn-cta.btn-success {
    margin-bottom: @box-margin-bottom;
}

div.order__checkout__button__container {
    margin-bottom: 0;
}

.order__box .order__box__content.secure-checkout-content, .secure-checkout-content {
    padding-bottom: 0;
}
#secure-checkout {
    margin-bottom: 10px !important;
}
 
// Media queries
@media screen and (max-width: 1090px) {
    #card__data__nr .field-helper .field-helper-popup {
        left: auto;
        right: 100%;
    }

    &.rtl #card__data__nr .field-helper .field-helper-popup {
        left: 100%;
        right: auto;
    }
}

@media screen and (max-width: 675px) {
    // Display form on small screens
    .order__checkout__form__label,
    .order__checkout__form__input,
    .form-table-userinfo .note,
    .form-table-userinfo td:empty {
        display: block;
    }

    table.form-table-userinfo td.order__checkout__form__label,
    table.order__checkout__billing td.order__checkout__form__label {
        padding-bottom: 0;
    }
    
//    .form-table-userinfo td:empty,
    .form-table-userinfo .note {
        margin-top: -@table-cell-padding;
    }

    .order__checkout__addfields__content td {
        padding-bottom: @table-cell-padding;
    }
}

@media screen and (max-width: 600px) {
    table.order__checkout__billing #cbExpMounth-select-box,
    table.order__checkout__billing #cbExpYear-select-box {
        width: 100% !important;
        margin-bottom: @table-cell-padding;
    }
    
    #tiCVV,
    .tiCVV-wrapper {
        width: 100%;
        max-width: none;
    }
}

@media screen and (max-width: 550px) {
    table.order__checkout__addfields__content {
        .text {
            width: 100%;
        }

        .select-box {
            width: 100% !important;
        }
    }
}
.page-express-payments-checkout {
    .payment__content {
        max-width: 700px;
    }
    #order__checkout__billing__payoptions__table {
        .btn-submit {
            width: auto;
        }
    }
}

.order__box .order__box__content {
    padding: 0 10px;
}