.container {
    max-width: 990px;
}

// CART STEPS
#steps-wrap.preset-4 #steps .step-nr {
    background: transparent;
    border: 1px solid darken(@cart-steps-inactive-color, 10%);
    padding: 2px;
    color: @text-color;
    .step-nr-text {
        font-weight: bold;
    }
}

#steps-wrap.preset-4 #steps .step.checked .step-nr,
#steps-wrap.preset-4 #steps .step.current .step-nr {
    background: #51b650;
    border: 1px solid transparent;
    color: #FFF;
}

// MAIN
#order__header {
    display: none;
}

// FORM
.order__checkout__form__input {
    .clearfix();
}

// PRODUCTS IN SHOPPING CART
.order__listing__header,
.order__listing__item__delivery,
.order__listing__item__unit__price {
    display: none;
}

.order__listing__item__remove {
    text-align: left;
    width: 30px;
}

.order__listing__item__image {
    width: 80px;
}

.order__listing__item__total__price {
    text-align: right;
}

.order__listing__item__total__price {
    font-weight: bold;
}

.field-wrapper.trial-price-popup .field-helper {
    bottom: -9px;
}

#order__cross__sell__contents {
    margin-top: @box-margin-bottom;
    margin-bottom: @box-margin-bottom;
}

.x-sell-product-title {
    font-weight: normal;
}

#x-sell .x-sell-prod-content,
#x-sell .x-sell-prod-prices,
#x-sell .x-sell-prod-add {
    vertical-align: middle;
    padding-top: 10px;
    padding-right: @padding-small-horizontal;
    padding-bottom: 10px;
    padding-left: @padding-small-horizontal;

    .btn {
        font-weight: normal;
    }
}

#x-sell .x-sell-prod-link {
    color: @text-color;
}

#x-sell .x-sell-prod-add {
    text-align: right;
}

#x-sell .btn .btn-text {
    top: 0;
}

.x-sel-prod-discount-box {
    border-width: 0 57px 47px 0;
}

#order__totals {
    float: right;
    @media screen and (max-width: 991px) {
        float: none;
    }
}

.products-total {
    color: @brand-primary;
}

.order__billing__total {
    font-weight: bold;
}

#order__cart__contents .order__box .order__box__title .order__box__aux2 {
    padding: @padding-base-vertical @padding-small-horizontal;

    .products__title__text {
        line-height: 30px;
    }
}

.products-header-currency .select-box {
    width: 100px !important;
}

table.form-table-userinfo  {
    .text {
        width: 100%;
    }

    .select-box {
        width: 100% !important;
    }

    #cbExpMounth-select-box {
        width: 145px !important;
    }
    #cbExpYear-select-box {
        width: 83px !important;
    }

    .order__checkout__form__label,
    .payment-options-label {
        width: 200px;
    }
}

.products-header-currency {
    margin-top: -2px;
    @media screen and (max-width: 767px) {
        margin-top: @padding-small-vertical;
    }

    .currency__label {
        margin-right: 10px;
    }
}

.payment-options-combo {
    margin-bottom: 0;
}

table tr.credit-card-container > td {
    padding: @table-cell-padding 0 0 0;
    text-align: left;
    padding-top: @table-cell-padding;
}

.jp-card-container {
    margin: 0 !important;
}

.order__finish__terms__and__conds__agreement {
    text-align: right;
}

.order__checkout__button__container {
    .clearfix();
}

.btn.btn-submit {
    float: right;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}

#Finish--btn,
#Delivery--btn {
    float: none;
}

// SECURE CHECKOUT
.secure-checkout-seals {
    display: block;
    float: none;
    margin-top: @padding-large-vertical;
    margin-left: 0;
}

.order__finish__terms__and__conds__agreement {
    margin-bottom: @box-margin-bottom;
    br {
        display: none;
    }
}

// FOOTER
#footer .order-privacy-link {
    margin-right: @padding-small-horizontal;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.order-privacy-link-separator {
    display: none;
}

#order__privacy {
    padding-top: @padding-large-vertical;
}

// MEDIA QUERIES
@media screen and (min-width: 1199px) {
    body.checkout .credit-card-container td.credit-card-label:empty {
        display: table-cell !important;
    }
}

@media screen and (min-width: 551px) and (max-width: 991px) {
    body.checkout .credit-card-container td.credit-card-label:empty {
        display: table-cell !important;
    }
}

@media screen and (max-width: 675px) {
    // FORM
    .order__checkout__form__label,
    .order__checkout__form__input,
    .payment-options-label,
    .payment-options-wrapper {
        display: block;
    }

    .credit-card-container {
        display: none !important;
    }

    .order__checkout__form__label,
    .payment-options-label,
    .credit-card-label {
        padding-bottom: 0;
    }

    .order__checkout__addfields__content td {
        padding-bottom: @table-cell-padding;
    }

    // PRODUCTS CURRENCY
    .products-header-currency {
        margin-top: @padding-large-vertical;

        .select-box {
            width: 100% !important;
        }
    }

    // ADDITIONAL FIELDS
    table.order__checkout__addfields__content {
        .text {
            width: 100%;
        }

        .select-box {
            width: 100% !important;
        }
    }
}

@media screen and (max-width: 500px) {
    #header .hotline {
        .hotline-language {
            display: block;
        }

        .hotline-language-separator {
            display: none;
        }
    }
}